<h2>Posts</h2>

<table class="table table-bordered">
  <tr>
    <th>Post Position</th>
    <th>Post Title</th>
    <th>Post Tagline</th>
    <th>Post Visibility</th>
    <th>Number of Comments</th>
    <th>Action</th>
  </tr>
  <% post_count = @posts.count %>

  <% @posts.each do |post| %>
    <tr>
        <%= post_position(post) %>
        <%= post_title_body(post) %>
        <%= post_tagline(post) %>
        <%= post_visible(post) %>
        <%= post_comments_count(post) %>
        <td><%= button_to 'Show Post', post_path(post.id), :method => :get, :class => "btn btn-mini btn-info" %></td>
        <td><%= button_to 'Delete Post', post_path(post.id), :confirm => "Are you sure you want to delete this post?", :method => :delete, :class => "btn btn-mini btn-danger" %></td>
    </tr>
  <% end %>


</table>
<%= button_to "Add New Post", new_post_path, :class => "btn btn-primary" %>         
