
<ul class="pager">
  <li><%= link_to("<< Back to Index", {:action => 'index'}, :class => 'back-link') %></li>
</ul>


<ul class="pager">
<% if post = @post.previous_post %>
  <li class="previous">
    <%= link_to "<< Older", post_path(post.id) %>
  </li>
<% else %>
  <li class="previous disabled">
    <%= link_to "<< Older", "#" %>
  </li>
<% end %>

<% if post = @post.next_post %>
  <li class="next">
    <%= link_to "Newer >>", post_path(post.id) %>
  </li>
<% else %>
  <li class="next disabled">
    <%= link_to "Newer >>", "#" %>
  </li>
<% end %>
</ul>


<div class="post show">
  <%= post_title_header(@post) %>
  <table class="table table-bordered">
       <tr>
        <%= label_for_position %> 
        <%= post_position(@post) %>
      </tr>
      <tr>
        <%= label_for_title %>
        <%= post_title_body(@post) %>
      </tr>
      <tr>
        <%= label_for_tagline %>
        <%= post_tagline(@post) %>
      </tr>
      <tr>
        <%= label_for_visible %>
        <%= post_visible(@post) %>
      </tr>
      <tr>
        <%= label_for_content %>
        <%= post_content(@post) %>
      </tr>
    </table>
  </div>


<%#= form_for [@post, @rating] do |f| %>
  
  <%#= f.select("rating", "value", (1..5)) %>
  <%#= f.submit "Rate this Article" %>

<%# end %>

<%= button_to "Edit Post", edit_post_path(@post.id), :method => :get, :class => "btn btn-primary" %>

<h2>Comments</h2>

<table class="table table-bordered">
  <tr>
    <th>Comment Position</th>
    <th>Commenter Name</th>
    <th>Commenter Email</th>
    <th>Comment Title</th>
    <th>Comment Content</th>
    <th>Comment Visibility</th>
    <th>Action</th>
  </tr>

  <% @comments.each do |comment| %>
    <tr>
        <%= comment_position(comment) %>
        <%= commenter_name(comment) %>
        <%= commenter_email_id(comment) %>
        <%= comment_content(comment) %>
        <%= comment_visible(comment) %>
        <td><%= button_to 'Edit Comment', edit_post_comment_path(@post.id, comment.id), :method => :get, :class => "btn btn-mini btn-info" %></td>
        <td><%= button_to 'Delete Comment', post_comment_path(@post.id, comment.id), :confirm => "Are you sure you want to delete this comment?", :method => :delete, :class => "btn btn-mini btn-danger" %></td>
    </tr>
  <% end %>


</table>

 <div class="form-horizontal">
  <%= form_for :comment, :url => post_comments_path(@post.id), :method => "post" do |f| %>
    <%= render :partial => 'comments/form', :locals => { :f => f } %>
     <p>
        <%= f.submit :value => "Create Comment", :class => "btn btn-primary" %>
        <%= submit_tag "Cancel", :name => 'cancel', :class => "btn" %>
     </p>

  </div>  
<% end %>



