
<ul class="pager">
  <li><%= link_to("<< Back to Index", {:action => 'index'}, :class => 'back-link') %></li>
</ul>


<ul class="pager">
<% if post = @post.previous_post %>
  <li class="previous">
    <%= link_to "<< Older", post_path(post.id) %>
  </li>
<% else %>
  <li class="previous disabled">
    <%= link_to "<< Older", "#" %>
  </li>
<% end %>

<% if post = @post.next_post %>
  <li class="next">
    <%= link_to "Newer >>", post_path(post.id) %>
  </li>
<% else %>
  <li class="next disabled">
    <%= link_to "Newer >>", "#" %>
  </li>
<% end %>
</ul>


<div class="post show">
  <%= post_title_header(@post) %>
  <table class="table table-bordered">
       <tr>
        <%= label_for_position %> 
        <%= post_position(@post) %>
      </tr>
      <tr>
        <%= label_for_title %>
        <%= post_title_body(@post) %>
      </tr>
      <tr>
        <%= label_for_tagline %>
        <%= post_tagline(@post) %>
      </tr>
      <tr>
        <%= label_for_visible %>
        <%= post_visible(@post) %>
      </tr>
      <tr>
        <%= label_for_content %>
        <%= post_content(@post) %>
      </tr>
    </table>
  </div>

  <%= button_to "Edit Post", edit_post_path(@post.id), :method => :get, :class => "btn btn-primary" %>
